// app global css in SCSS form
.bg-dark-blue {
  background-color: $dark-blue;
}
.text-dark-blue {
  color: $dark-blue;
}
.bg-darkless-blue {
  background-color: $darkless-blue;
}
.darkless-blue {
  background: $darkless-blue !important;
}
